<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script type='text/javascript' src='../js/script.js'></script>
  <title>for Sara</title>
</head>
<body>
  
  <!-- you have 2 variables comes from backend serverside
          1. data = `i love Sara Soueidan`
          2. data2 = { name: `bebo`, age: 23 } -->

  <div class="sara"> <h1> <%= data %> </h1> </div>
  <img src="../images/Sara.jpg">
</body>
</html>